path "${kv_mount_path}/data/${namespace}/temporal/*" {
  capabilities = ["read", "list"]
}

path "${kv_mount_path}/data/${namespace}/workflow-config/*" {
  capabilities = ["read", "list", "update"]
}

path "${kv_mount_path}/data/check-runner/*" {
  capabilities = ["read", "list"]
}

path "${transit_mount_path}/encrypt/${namespace}-story-signing" {
  capabilities = ["update"]
}

path "${transit_mount_path}/decrypt/${namespace}-story-signing" {
  capabilities = ["update"]
}

path "sys/leases/renew" {
  capabilities = ["update"]
}

path "sys/leases/revoke" {
  capabilities = ["update"]
}
