.momentum-indicator {
  display: inline-flex;
  width: 1.25rem;
  height: 1.25rem;
  background: rgb(15 23 42 / 40%);
  align-items: center;
  border: 1px solid rgb(148 163 184 / 40%);
  border-radius: 999px;
  font-size: 0.9rem;
  justify-content: center;
  margin-left: 0.2rem;
}

.momentum-indicator.momentum-positive {
  color: #4ade80;
  border-color: rgb(74 222 128 / 50%);
}

.momentum-indicator.momentum-negative {
  color: #f87171;
  border-color: rgb(248 113 113 / 50%);
}

.momentum-indicator.momentum-neutral {
  color: #fbbf24;
  border-color: rgb(251 191 36 / 40%);
}
